---
import logo from "../img/onlyfrans@logotyp.png";

interface Props {
  brandName?: string;
  logoColor?: string;
  textColor?: string;
  href?: string;
}

const {
  logoColor = "text-pink-500",
  href = "/",
} = Astro.props;
---

<a href={href} class="flex items-center space-x-2">
  <img
    src="/img/onlyfrans@logotyp.png"
    width={96}
    height={32}
    alt="OnlyFrans Logo"
    class={`h-8 w-full ${logoColor}`}
  />
  
</a>
